.container {
  // mobile
  max-width: 100vw;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $min-mobile-size) {
    max-width: $min-mobile-size;
    padding-left: 20px;
    padding-right: 20px;
  }

  //   tablet
  @media screen and (min-width: $min-tablet-size) {
    max-width: $min-tablet-size;
    padding-left: 32px;
    padding-right: 32px;
  }

  // desktop
  @media screen and (min-width: $min-desktop-size) {
    max-width: $min-desktop-size;
    padding-left: 16px;
    padding-right: 16px;
  }
}
