.container {
  // mobile
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  //   tablet
  @media screen and (min-width: 767.98) {
    width: 768px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 32px;
    padding-right: 32px;
  }
}
