@mixin fontRegular($ff, $fz, $fw, $lh, $col, $ta: left) {
  font-family: $ff;
  font-size: $fz;
  font-weight: $fw;
  line-height: calc($lh / $fz);
  color: $col;
  text-align: $ta;
}

@mixin fontTitanOne($familyTitanOne, $fz, $fw, $lh, $ls, $col, $ta: left) {
  font-family: $familyTitanOne;
  font-size: $fz;
  font-weight: $fw;
  line-height: calc($lh / $fz);
  letter-spacing: $ls;
  color: $col;
  text-align: $ta;
}

@mixin centeredFlex($type: flex, $align: center, $justity: center) {
  display: $type;
  align-items: $align;
  justify-content: $justity;
}

@mixin transition($tp, $td: 250ms, $ttf: cubic-bezier(0.4, 0, 0.2, 1)) {
  transition-property: $tp;
  transition-duration: $td;
  transition-timing-function: $ttf;
}

@mixin mobile {
  @media screen and (min-width: 320px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}
