$hero-bck: #ffb8ca;
$hero-ice-cream-bck: #ffa5ba;
$about-bck: #fff5f6;
$products-bck: #e5e5e5;
$products-ice-cream-bck: #ffb8ca;
$products-coffee-bck: #f0d1a5;
$products-milkshake-bck: #c2e297;
$contacts-cafe-bck: #f0d1a5;
$contacts-foodtruck-bck: #c2e297;
$contacts-line-color: #e1e1e1;
$footer-bck: #fff5f6;
$soc-media-bck: #fea5bb;
$footer-animation: cubic-bezier(0.31, -0.105, 0.43, 1.59);
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$description-text-color: #907e82;
$accent-color: #d41443;
$hover-bck: #d41342;
$btn-hover-bck: #ecebeb;
$customer_reviews_background: #fafafa;
$customer_reviews_pagination: #d9d9d9;

$border_color: #e18298;
$menu_backgraund_color: #e17992;

$backdrop-bkgd-color: rgba(0, 0, 0, 0.2);

// fonts
$familyTitanOne: 'Titan One', cursive;
$familyDmSans: 'DM Sans', sans-serif;

// colors

$heroButtonDarkPink: #d41443;
$heroButtonWhiteTx: #d41443;
$heroBtnHover: #c7133e;
$heroButtonWhite: #ffffff;

$min-mobile-size: 320px;
$min-tablet-size: 768px;
$min-desktop-size: 1280px;
$max-mobile-size: 319.98px;
$max-tablet-size: 767.98px;
$max-desktop-size: 1279.98px;
