$hero-bck: #ffb8ca;
$hero-ice-cream-bck: #ffa5ba;
$about-bck: #fff5f6;
$products-bck: #e5e5e5;
$products-ice-cream-bck: #ffb8ca;
$products-coffee-bck: #f0d1a5;
$products-milkshake-bck: #c2e297;
$contacts-cafe-bck: #f0d1a5;
$contacts-foodtruck-bck: #c2e297;
$contacts-line-color: #e1e1e1;
$footer-bck: #fff5f6;
$primary-text-color: #ffffff;
$secondary-text-color: #000000;
$description-text-color: #907e82;
$accent-color: #d41443;
$hover-bck: #d41342;
$btn-hover-bck: #ecebeb;
$customer_reviews_background: #FAFAFA;
$customer_reviews_pagination: #D9D9D9;
