<section class="about" id="how_its_made">
    <div class="container about__container">
<p class="about_pre-title">tradition and love</p>
<h2 class="about__title">how it’s made?</h2>
<div class="about__tablet-wrap">
<picture class="about__cow-pic">
    <source
    srcset="./images/desktop/deskstop-cow.png 1x, ./images/desktop/deskstop-cow@2x.png 2x"
    media="(min-width:1280px)"
    />
    <source
    srcset="./images/tablet/tablet-cow.png 1x, ./images/tablet/tablet-cow@2x.png 2x"
    media="(min-width:768px)"
    />    
    <source
    srcset="./images/tel/tel-cow.png 1x, ./images/tel/tel-cow@2x.png 2x"
    media="(min-width:320px)"
    />
    
<img src="./images/tel/tel-cow@2x.png" alt="Happy cow"/>   
</picture>
<div class="about__text-wrap">
<p class="about__text about__text-dark">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</p>

<picture class="about__milk">
    <source
    srcset="./images/desktop/deskstop-bck-milk.png 1x, ./images/desktop/deskstop-bck-milk@2x.png 2x"
    media="(min-width:1280px)"
    />   
    <source
    srcset="./images/tel/tel-bck-milk.png 1x, ./images/tel/tel-bck-milk@2x.png 2x"
    media="(min-width:320px)"
    />
    
<img src="./images/tel/tel-bck-milk@2x.png" alt="Milk"  class="about__milk-img"/>
 
</picture>

<p class="about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
<p class="about__text">Aliquam erat volutpat. Aenean accumsan.</p>

<button class="about__btn" data-modal-about-open>Read more
    
    <svg class="about__icon-arrow">
        <use href="./images/sprite/sprite.svg#icon-vector2"></use> 
    </svg>
   
</button>

</div>
</div>
</div>
</section>