<div class="backdrop-about is-hidden" data-modal-about>
    <div class="modal-about">
        <h2 class="about__title about__title-modal">How we create our goodies</h2>
        <ul>
            <li class="modal-about-item">
                <img src="./images/tel/modal-cow2.png" alt="Happy cow" class="modal-about-img"/>
                <p class="modal-about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            </li>
            <li class="modal-about-item">
                <img src="./images/tel/modal-milk.png" alt="Milk" class="modal-about-img"/>
                <p class="modal-about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>            
            </li>
            <li class="modal-about-item">
                <img src="./images/tel/modal-icecream2.png" alt="Ice cream" class="modal-about-img"/>
                <p class="modal-about__text">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.</p>
            </li>
        </ul> 
        

    <button class="modal-close" data-modal-about-close>
            <svg class="modal-close__icon">
                <use href="./images/sprite/sprite.svg#icon-close"
                class="modal-close__icon_color">
                </use>
            </svg>
    </button>  
    </div>
</div>
