<section class="advantages">
    <div class="container">
        <h2 class="advantages-title visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <div class="advantages-list__content advantages-list__content--one">
                <p class="advantages-list__number">721</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-list__content advantages-list__content--two">
                <p class="advantages-list__number">16kg</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
            </li>
            <li class="advantages-list__item">
                <div class="advantages-list__content advantages-list__content--three">
                <p class="advantages-list__number">84</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </div>
            </li>
        </ul>
    </div>
</section>