<section class="advantages">
    <div class="container">
        <h2 class="advantages-title visually-hidden">Advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-list__item">
                <p class="advantages-list__number advantages-list__number--one">721</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__number advantages-list__number--two">16kg</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-list__item">
                <p class="advantages-list__number advantages-list__number--three">84</p>
                <p class="advantages-list__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>