<footer class="page-footer">
  <div class="container">
    <div class="page-footer__content">
      <div class="page-footer__text-thumb">
        <p class="page-footer__text">homemade ice cream made</p>
        <p class="page-footer__title">with passion</p>
      </div>
      <div class="page-footer__contacts-thumb">
        <ul class="soc-media">
          <li class="soc-media__item">
            <a class="soc-media__link" href="https://github.com/">
              <svg class="soc-media__icon" width="20" height="20">
                <use href="./images/sprite/sprite.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="soc-media__item">
            <a class="soc-media__link" href="https://web.telegram.org/">
              <svg class="soc-media__icon" width="20" height="20">
                <use href="./images/sprite/sprite.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="soc-media__item">
            <a class="soc-media__link" href="https://www.facebook.com/">
              <svg class="soc-media__icon" width="20" height="20">
                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="page-footer__contacts">
          Feel free to contact
          <a class="page-footer__number" href="tel:+610383766284"
            >+61 (0) 383 766 284</a
          >
        </p>
      </div>
    </div>
    <p class="page-footer__copyrights">
      &#169; 2022 - IceCream. All Rights Reserved.
    </p>
  </div>
</footer>
