<div class="backdrop is-hidden js-franchise-window">
  <div class="modal franchise">
    <button
      type="button"
      class="franchise__close-button js-franchise-close"
    >
      <svg width="14" height="14">
        <use
          class="franchise__icon-close"
          href="./images/sprite/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
    <div class="franchise__thumb">
      <h3 class="franchise__title">Our franchise partners</h3>
      <ul class="francise__list">
        <li class="franchise__item">
          <h4 class="franchise__name">Chicago</h4>
          <p class="franchise__description">Fusce ut velit laoreet, tempus arcu molestie vulputate, sed do eiusmod tempor incididunt.</p>
        </li>
        <li class="franchise__item">
          <h4 class="franchise__name">Lviv</h4>
          <p class="franchise__description">Fusce ut velit laoreet, tempus arcu molestie vulputate, sed do eiusmod tempor incididunt.</p>
        </li>
        <li class="franchise__item">
          <h4 class="franchise__name">New York</h4>
          <p class="franchise__description">Fusce ut velit laoreet, tempus arcu molestie vulputate, sed do eiusmod tempor incididunt.</p>
        </li>
        <li class="franchise__item">
          <h4 class="franchise__name">Los Angeles</h4>
          <p class="franchise__description">Fusce ut velit laoreet, tempus arcu molestie vulputate, sed do eiusmod tempor incididunt.</p>
        </li>
      </ul>
      <p class="franchise__text">We are waiting for you in Ice cream paradise</p>
    </div>
    <img
      srcset="./images/tablet/tablet-pink-cream@2x.png 2x"
      src="./images/tablet/tablet-pink-cream.png"
      alt="ice cream"
      class="franchise__ice-cream"
    />
    <img
      srcset="./images/tablet/tablet-milkshake@2x.png 2x"
      src="./images/tablet/tablet-milkshake.png"
      alt=""
      class="franchise__milkshake"
    />
  </div>
</div>