<section class="gallery">
    <div class="container">
        <h2 class="gallery-title visually-hidden">Gallery</h2>
        <picture class="gallery-photo">
            <source srcset="./images/desktop/deskstop-gallery.png 1x, ./images/desktop/deskstop-gallery@2x.png 2x"
            media="(min-width:$min-desktop-size)"/>
            <source srcset="./images/tablet/tablet-gallery.png 1x, ./images/tablet/tablet-gallery@2x.png 2x"
            media="(min-width:$min-tablet-size)"/>
            <source srcset="./images/tel/tel-gallery.png 1x, ./images/tel/tel-gallery@2x.png 2x"
            media="(min-width:$min-mobile-size)"/>
        <img src="./images/desktop/deskstop-gallery@2x.png" alt="gallery" width="100%"/>
    </picture>
</div>  
</section>