<section class="gallery">
    <div class="container gallery-container">
        <h2 class="gallery-title visually-hidden">Gallery</h2>
<!-- <picture class="gallery-photo">
    <source srcset="
          ./images/desktop/deskstop-gallery.png    1x,
          ./images/desktop/deskstop-gallery@2x.png 2x
        " media="(min-width: 1280px)" />
    <source srcset="
          ./images/tablet/tablet-gallery.png   1x,
          ./images/tablet/tablet-gallery@2x.png 2x
        " media="(min-width: 768px)" />
    <img srcset="
          ./images/tel/tel-gallery.png    1x,
          ./images/tel/tel-gallery@2x.png 2x
        " src="./images/desktop/deskstop-gallery@2x.png" alt="gallery" />
</picture> -->
<ul class="gallery-list">
  <li class="gallery__item"><img src="./images/gallery/ice-cream1.jpg" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream2.jpg" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream3.webp" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream4.jpg" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream5.jpg" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream6.jpg" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream7.webp" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream8.jpg" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream9.webp" alt="ice-cream" class="gallery__img"></li>
  <li class="gallery__item"><img src="./images/gallery/ice-cream10.jpg" alt="ice-cream" class="gallery__img"></li>
</ul>
</div>  
</section>

