<header class="header">
  <div class="header-container container">
    <a href="index.html" class="logo link">
      <picture>
        <img
          srcset="./images/logo/logo.png 1x, ./images/logo/logo@2x.png 2x"
          src="./images/logo/logo.png"
          alt="image"
          class="logo_img"
          loading="lazy"
        />
      </picture>
    </a>
    <div class="menu-button__container">
      <button type="button" class="menu-button" data-menu-open>
        <svg width="20" height="12">
          <use
            class="menu-button__icon-menu"
            href="./images/sprite/sprite.svg#icon-burger"
          ></use>
        </svg>
      </button>
    </div>
    <div class="menu-container is-hidden" data-menu>
      <button type="button" class="close-button" data-menu-close>
        <svg width="14" height="14">
          <use
            class="menu-button__icon-close"
            href="./images/sprite/sprite.svg#icon-close"
          ></use>
        </svg>
      </button>
      <button
        type="button"
        class="buy-button buy-button__menu"
        data-buy-modal-close
        data-modal-buy-open
      >
        Buy now
        <svg class="buy-button_icon" width="8" height="12">
          <use href="./images/sprite/sprite.svg#icon-wide-arrow-right"></use>
        </svg>
      </button>
      <nav class="nav">
        <ul class="nav-list list" data-anchor-close>
          <li class="nav_item">
            <a href="#hero" class="nav_link nav_link_current link">Home</a>
          </li>
          <li class="nav_item">
            <a href="#about_us" class="nav_link link">About us</a>
          </li>
          <li class="nav_item">
            <a href="#how_its_made" class="nav_link link">How it’s made?</a>
          </li>
          <li class="nav_item">
            <a href="#products" class="nav_link link">Our products</a>
          </li>
          <li class="nav_item">
            <a href="#contact" class="nav_link link">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
    <button
      type="button"
      class="buy-button buy-button__header js-buy-button"
      data-buy-modal-close
      data-modal-buy-second-open
    >
      Buy now
      <svg class="buy-button_icon" width="8" height="12">
        <use href="./images/sprite/sprite.svg#icon-wide-arrow-right"></use>
      </svg>
    </button>
  </div>
</header>
