<section class="hero">
  <div class="wrapp-hero">
    <div class="hero-text">
      <h1 class="hero-text__title">
        ice cream made with <span class="hero-text--accent">passion</span>
      </h1>
      <a href="#products" class="button">Products</a>
      <a href="#about" class="button button--white"> How it’s made? </a>
    </div>

    <div class="crema-pic">
      <picture>
        <source
          srcset="
            ./images/tel/tel-ice-cream_hero.png    1x,
            ./images/tel/tel-ice-cream_hero@2x.png 2x
          "
        />
        <img src="./images/tel/tel-ice-cream_hero.png" alt="ice-cream" />
      </picture>
    </div>

    <div class="milk-pic">
      <!-- <img src="" alt="eco-milk" /> -->
      <div class="milk-info">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a href="#">
          <!-- <img src="" alt="" /> -->
        </a>
      </div>
    </div>

    <div class="block-amount">
      <p class="block-amount__subtitle">16</p>
      <p class="block-amount__subtitle">23</p>
    </div>

    <div class="cta-img">
      <!-- <img src="" alt="tasty ice-cream" /> -->
    </div>
  </div>
</section>
