<div class="backdrop is-hidden js-our-location-window">
  <div class="modal our-location">
    <button
      type="button"
      class="our-location__close-button js-our-location-close"
    >
      <svg width="14" height="14">
        <use
          class="our-location__icon-close"
          href="./images/sprite/sprite.svg#icon-close"
        ></use>
      </svg>
    </button>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12364.450053812601!2d4.890569242470109!3d52.37464192958632!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c609f85c00d2f9%3A0xef6b2bb7c0108b0f!2sIce%20Cream%20Media!5e0!3m2!1sru!2snl!4v1655072729775!5m2!1sru!2snl"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      class="our-location"
    ></iframe>
    <img
      srcset="./images/tablet/tablet-pink-cream@2x.png 2x"
      src="./images/tablet/tablet-pink-cream.png"
      alt="ice cream"
      class="our-location__ice-cream"
    />
    <img
      srcset="./images/tablet/tablet-milkshake@2x.png 2x"
      src="./images/tablet/tablet-milkshake.png"
      alt=""
      class="our-location__milkshake"
    />
    <p class="our-location__text">We are waiting for you in Ice cream paradise</p>
  </div>
</div>
