<section id="products" class="products">
  <div class="container">
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li
        class="products__item products__item--ice-cream animate__animated animate__fadeInLeft animate__delay-0.5s animate__repeat-1"
      >
        <h3 class="products__name">ice cream</h3>
        <p class="products__main-description">
          It has a pronounced creamy-strawberry taste, moderately sweet, not
          cloying.
        </p>
        <p
          class="products__full-description text-hidder js-more-text-ice-cream"
        >
          The consistency of ice cream is airy and dense at the same time,
          without the slightest ice crystals
        </p>
        <button
          type="button"
          class="products__btn--open js-open-more-ice-cream"
        >
          <svg class="products__btn-icon">
            <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li
        class="products__item products__item--ice-coffee animate__animated animate__fadeInDown animate__delay-1s animate__repeat-1"
      >
        <h3 class="products__name">ice coffee</h3>
        <p class="products__main-description">
          Ice cream with an extraordinary taste, which is obtained thanks to
          strong brewed coffee.
        </p>
        <p
          class="products__full-description text-hidder js-more-text-ice-coffee"
        >
          For all coffee lovers, this ice cream is just for you.
        </p>
        <button
          type="button"
          class="products__btn--open js-open-more-ice-coffee"
        >
          <svg class="products__btn-icon">
            <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
      <li
        class="products__item products__item--milkshakes animate__animated animate__fadeInRight animate__delay-1.5s animate__repeat-1"
      >
        <h3 class="products__name">milkshakes</h3>
        <p class="products__main-description">
          Classic milkshake is a fragrant ice cream with a delicate creamy taste
          and airy texture.
        </p>
        <p
          class="products__full-description text-hidder js-more-text-milkshakes"
        >
          Sweet and incredibly tasty, perfectly refreshing.
        </p>
        <button
          type="button"
          class="products__btn--open js-open-more-milkshakes"
        >
          <svg class="products__btn-icon">
            <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
