<section id="products" class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
     <ul class="products__list">
        <li class="products__item products__item--ice-cream">
           <h3 class="products__name">ice cream</h3>
           <p class="products__main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
           <p class="products__full-description text-hidder js-more-text-ice-cream">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ex distinctio ratione cumque delectus itaque autem aliquid nesciunt, dolorum architecto aut libero!</p>
           <button type="button" class="products__btn--open js-open-more-ice-cream">
               <svg class="products__btn-icon">
                   <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
               </svg>
           </button>
        </li>
        <li class="products__item products__item--ice-coffee">
           <h3 class="products__name">ice coffee</h3>
           <p class="products__main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
           <p class="products__full-description text-hidder js-more-text-ice-coffee">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ex distinctio ratione cumque delectus itaque autem aliquid nesciunt, dolorum architecto aut libero!</p>
           <button type="button" class="products__btn--open js-open-more-ice-coffee">
               <svg class="products__btn-icon">
                   <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
               </svg>
           </button>
        </li>
        <li class="products__item products__item--milkshakes">
           <h3 class="products__name">milkshakes</h3>
           <p class="products__main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
           <p class="products__full-description text-hidder js-more-text-milkshakes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ex distinctio ratione cumque delectus itaque autem aliquid nesciunt, dolorum architecto aut libero!</p>
           <button type="button" class="products__btn--open js-open-more-milkshakes">
               <svg class="products__btn-icon">
                   <use href="./images/sprite/sprite.svg#icon-arrow-right"></use>
               </svg>
           </button>
        </li>
     </ul>
    </div>
</section>