<section class="products">
    <div class="container">
        <p class="products__label">100% natural</p>
        <h2 class="products__title">products</h2>
     <ul class="products__list">
        <li class="products__item">
           <h3 class="products__name">ice cream</h3>
           <p class="products__main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
           <button class="products__btn--open">
               <svg class="btn-icon">
                   <use href=""></use>
               </svg>
           </button>
           <p class="products__full-description">Full description...</p>
           <button class="products__btn--close"></button>
        </li>
        <li class="products__item">
           <h3 class="products__name">ice coffee</h3>
           <p class="products__main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
           <button class="products__btn--open">
               <svg class="btn-icon">
                   <use href=""></use>
               </svg>
           </button>
           <p class="products__full-description">Full description...</p>
           <button class="products__btn--close"></button>
        </li>
        <li class="products__item">
           <h3 class="products__name">milkshakes</h3>
           <p class="products__main-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
           <button class="products__btn--open">
               <svg class="btn-icon">
                   <use href=""></use>
               </svg>
           </button>
           <p class="products__full-description">Full description...</p>
           <button class="products__btn--close"></button>
        </li>
     </ul>
    </div>
</section>