.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $about-bck;
  position: relative;
  @media screen and (min-width: $min-desktop-size) {
  }
}

.about__container {
  // border: 1px solid blue;

  margin-left: auto;
  margin-right: auto;
  align-items: center;
  // max-width: 320px;
  @media screen and (min-width: $min-tablet-size) {
    // max-width: 100%;
  }
}
.about__milk-img {
  width: 100vw;
  @media screen and (min-width: $min-desktop-size) {
    width: 100%;
    max-width: $min-desktop-size;
    margin: 0 auto;
  }
}

.about_pre-title {
  text-transform: uppercase;
  @include fontTitanOne(
    $familyTitanOne,
    18px,
    400,
    21px,
    0.04em,
    $hero-ice-cream-bck,
    center
  );
  margin-bottom: 15px;
  @media screen and (min-width: $min-tablet-size) {
    @include fontTitanOne(
      $familyTitanOne,
      26px,
      400,
      30px,
      0.04em,
      $hero-ice-cream-bck,
      center
    );
    margin-bottom: 16px;
  }
  @media screen and (min-width: $min-desktop-size) {
    @include fontTitanOne(
      $familyTitanOne,
      30px,
      400,
      34px,
      0.04em,
      $hero-ice-cream-bck,
      center
    );
  }
}

.about__title {
  text-transform: uppercase;
  animation: zoomIn;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  @include fontTitanOne(
    $familyTitanOne,
    34px,
    400,
    39px,
    0.04em,
    $accent-color,
    center
  );
  margin-bottom: 32px;
  @media screen and (min-width: $min-tablet-size) {
    @include fontTitanOne(
      $familyTitanOne,
      48px,
      400,
      55px,
      0.04em,
      $accent-color,
      center
    );
    margin-bottom: 40px;
  }
  @media screen and (min-width: $min-desktop-size) {
    @include fontTitanOne(
      $familyTitanOne,
      58px,
      400,
      66px,
      0.06em,
      $accent-color,
      center
    );
    margin-bottom: 79px;
  }
}

.about__tablet-wrap {
  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: $min-tablet-size) {
    display: flex;
    flex-direction: row;
  }
}
.about__cow-pic {
  text-align: center;
  margin-bottom: 40px;
  @media screen and (min-width: $min-tablet-size) {
    width: 336px;
    margin-bottom: 0;
  }
  @media screen and (min-width: $min-desktop-size) {
    width: 501px;
  }
}
.about__text-wrap {
  // border: 1px id red;
  max-width: 220px;
  // position: relative;
  @media screen and (min-width: $min-tablet-size) {
    max-width: 334px;
    margin-left: 32px;
  }
  @media screen and (min-width: $min-desktop-size) {
    max-width: 463px;
    margin-left: 139px;
    position: static;
    z-index: 2;
  }
}

.about__text {
  @include fontRegular(DM Sans, 12px, 500, 19px, $description-text-color);
  margin-bottom: 20px;
  @media screen and (min-width: $min-tablet-size) {
    @include fontRegular(DM Sans, 14px, 500, 25px, $description-text-color);
  }
  @media screen and (min-width: $min-desktop-size) {
    @include fontRegular(DM Sans, 14px, 500, 27px, $description-text-color);
    margin-bottom: 32px;
  }
}

.about__text-dark {
  color: $secondary-text-color;
  @media screen and (min-width: $min-desktop-size) {
    @include fontRegular(DM Sans, 16px, 500, 28px, $secondary-text-color);
  }
}

.about__milk {
  width: 100vw;
  position: absolute;
  top: 72%;
  left: 0;
  transform: translateY(-50%);
  @media screen and (min-width: $min-tablet-size) {
    display: none;
  }

  @media screen and (min-width: $min-desktop-size) {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    // top:240px;
    top: 63%;
    z-index: -1;
  }
}

.about__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 44px;
  background: $heroButtonWhite;
  border-radius: 22px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: $accent-color;
  @media screen and (min-width: $min-tablet-size) {
    font-size: 16px;
    line-height: 1.3;
  }
  // @include transition(background-color);

  @include btnAnimation($heroBtnHover, 22px);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $heroButtonWhite;
     
  }
}

.about__icon-arrow {
  display: inline-block;
  width: 8px;
  height: 12px;
  fill: currentColor;

  margin-left: 13px;
}
