.about {
background-color: $about-bck;

}

.about__container {
// border: 1px solid blue;
padding-top: 40px;
padding-bottom: 40px;

margin-left: auto;
margin-right: auto;
align-items: center;
max-width: 320px;
@media screen and (min-width:$min-tablet-size){
max-width: 100%;  
}
}


.about_pre-title {
  text-transform: uppercase;
  @include fontTitanOne($familyTitanOne, 18px, 400, 21px, 0.04em, $hero-ice-cream-bck, center);
  margin-bottom: 15px;
}

.about__title {
  text-transform: uppercase;
  @include fontTitanOne($familyTitanOne, 34px, 400, 39px, 0.04em, $accent-color, center);
  margin-bottom: 32px;
 }

 .about__tablet-wrap {
   @media screen and (min-width:768px){
     display: flex;
   }
 }
.about_pic {
  text-align: center;
  margin-bottom: 40px;
  @media screen and (min-width:$min-tablet-size) {
  width: 336px;  
  margin-bottom: 0;
  }
}
.about__text-wrap {
  max-width: 220px;  
  position: relative;
  @media screen and (min-width:$min-tablet-size) {
  max-width: 334px;  
  margin-left: 32px;
  }
}

.about__text {
  @include fontRegular(DM Sans, 12px, 500, 19px, $description-text-color); 
  margin-bottom: 20px; 
  @media screen and (min-width:$min-tablet-size){
  @include fontRegular(DM Sans, 14px, 500, 25px, $description-text-color);  
  }
  @media screen and (min-width:$min-desktop-size){
    @include fontRegular(DM Sans, 14px, 500, 27px, $description-text-color);   
  }
}

.about__text-dark {
  color: $secondary-text-color;
  @media screen and (min-width:$min-desktop-size){
    @include fontRegular(DM Sans, 16px, 500, 28px, $secondary-text-color);   
  }
}

.about_milk {
position: absolute;
width: 320px;
left: -20px;
top:70px;
@media screen and (min-width:768px) {
  display: none;
 }

@media screen and (min-width:1280px){

position: absolute; 
width: 1200px;
left: -20px;
top:70px;
}
}

.about__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 176px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: #d41443;
}

.about__icon-arrow {
  display: inline-block;
  width: 8px;
  height: 12px;
  fill: #d41443;

  margin-left: 13px;
}
