.advantages {
    padding-bottom: 80px;
    background-color: $footer-bck;
}
.advantages-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        width: 527px;
    }
    &__item {
        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
        @media screen and (min-width: 768px) {
            &:not(:first-child) {
                margin-left: 17px;
            }
        }
    }
}
.advantages-list__number {
    font-family: $familyTitanOne;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
    margin-bottom: 13px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 48px;
        line-height: 1.14;
    }
    }
.advantages-list__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    color: $secondary-text-color;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 14px;
        line-height: 1.71;
    }
    }


/*....advantages icons....*/
.advantages-list__content::before {
    content: "";
    display: inline-block;
    margin-bottom: 16px;
    background-size: contain;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 36px;
    }
}
.advantages-list__content--one::before {
    width: 33px;
    height: 50px;
    background-image: url(../images/icons/icon1.png); 
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/icons/icon1@2x.png);
        }
    }
.advantages-list__content--two::before {
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/icon2.png); 
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icons/icon2@2x.png);
    }
}
.advantages-list__content--three::before {
    width: 44px;
    height: 50px;
    background-image: url(../images/icons/icon3.png); 
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icons/icon3@2x.png);
    }
}
