.advantages {
    padding-bottom: 40px;
    background-color: $footer-bck;
    @media screen and (min-width: $min-desktop-size) {
        padding-bottom: 60px;
        }
    
}
.advantages-list {
    @media screen and (min-width: $min-tablet-size) {
        display: flex;
    }
    &__item {
        @media screen and (max-width: $max-tablet-size) {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }
        @media screen and (min-width: $min-tablet-size) {
            width: 167px;
        &:not(:first-child) {
                margin-left: 22px;
            }
        }
        @media screen and (min-width: $min-desktop-size) {
            width: 288px;
        &:not(:first-child) {
            margin-left: 142px;
        }
        }
    }
   
}
.advantages-list__number {
    font-family: $familyTitanOne;
    font-size: 36px;
    line-height: 1.13;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $accent-color;
    margin-bottom: 13px;
    @media screen and (min-width: $min-tablet-size) and (max-width: $max-desktop-size) {
        font-size: 48px;
        line-height: 1.14;
    }
    @media screen and (min-width: $min-desktop-size) {
        font-size: 58px;
        margin-bottom: 16px;
    }
    }
.advantages-list__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    color: $secondary-text-color;
    @media screen and (min-width: $min-tablet-size) and (max-width: $max-desktop-size) {
        font-size: 14px;
        line-height: 1.71;
    }
    @media screen and (min-width: $min-desktop-size) {
        font-size: 16px;
        line-height: 1.75;
    }
    }


/*....advantages icons....*/
.advantages-list__number::before {
    content: "";
    display: block;
    margin-bottom: 16px;
    background-size: contain;
    @media screen and (min-width: $min-tablet-size) and (max-width: $max-desktop-size) {
        margin-bottom: 36px;
    }
    @media screen and (min-width: $min-desktop-size) {
        margin-bottom: 29px;
    }
}
.advantages-list__number--one::before {
    width: 33px;
    height: 50px;
    background-image: url(../images/icons/icon1.png); 
        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/icons/icon1@2x.png);
        }
    }
.advantages-list__number--two::before {
    width: 50px;
    height: 50px;
    background-image: url(../images/icons/icon2.png); 
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icons/icon2@2x.png);
    }
}
.advantages-list__number--three::before {
    width: 44px;
    height: 50px;
    background-image: url(../images/icons/icon3.png); 
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: url(../images/icons/icon3@2x.png);
    }
}
