.contacts {
  padding-top: 40px;
  padding-bottom: 24px;
  background: $footer-bck;
  background: linear-gradient(0deg, $footer-bck 70%, $primary-text-color 100%);

  @media screen and (min-width: $min-tablet-size) {
    padding-bottom: 20px;
  }
  @media screen and (min-width: $min-desktop-size) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contacts-card {
  margin: 0 0 32px;
  @media screen and (min-width: $min-tablet-size) {
    display: flex;
    margin: 0 0 40px -32px;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width: $min-desktop-size) {
    margin-bottom: 60px;
  }
}

.contacts-card__list {
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;

  max-width: 280px;
  margin: 0 auto;
  background: $primary-text-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @media screen and (min-width: $min-tablet-size) {
    max-width: calc((100% - 64px) / 3);
    margin-left: 32px;
  }
  &:not(:last-child) {
    margin-bottom: 20px;
    @media screen and (min-width: $min-tablet-size) {
      margin-bottom: 0;
    }
  }
  &:last-child .contacts-card__title,
  &:first-child .contacts-card__title {
    background-color: $contacts-cafe-bck;
  }
  &:nth-child(2) .contacts-card__title {
    background-color: $contacts-foodtruck-bck;
  }
}

.contacts-card__title {
  //   height: 16px;

  border-radius: 4px;
  padding: 0px 16px;
  display: inline-block;
  //   justify-content: center;
  //   align-items: center;
  letter-spacing: 0.04em;
  @include fontRegular($familyDmSans, 12px, 500, 22px, $primary-text-color);
  @media screen and (min-width: $min-tablet-size) {
    @include fontRegular(null, 16px, 500, 30px, $primary-text-color);
  }
}

.contacts-card__item {
  padding: 24px 0;
  border-bottom: 1px solid $contacts-line-color;
  @media screen and (min-width: $min-tablet-size) {
    padding: 32px 0;
  }
}

.contacts-card__name {
  margin-bottom: 8px;

  font-style: normal;
  letter-spacing: 0.04em;

  @include fontRegular(
    $familyDmSans,
    12px,
    500,
    22px,
    $secondary-text-color,
    left
  );
  @media screen and (min-width: $min-tablet-size) {
    @include fontRegular(null, 14px, 500, 26px, $secondary-text-color, left);
  }

  @media screen and (min-width: $min-desktop-size) {
    @include fontRegular(null, 16px, 500, 30px, $secondary-text-color, left);
  }
}

.contacts-card__text {
  @include fontRegular(
    $familyDmSans,
    12px,
    500,
    18px,
    $description-text-color,
    null
  );
  @media screen and (min-width: $min-tablet-size) {
    @include fontRegular(null, 14px, 500, 23px, $description-text-color, left);
  }
  @media screen and (min-width: $min-desktop-size) {
    @include fontRegular(null, 16px, 500, 29px, $description-text-color, left);
  }
}

.contacts-card__item-list {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.contacts-card__time {
  @include fontRegular(
    $familyDmSans,
    12px,
    500,
    22px,
    $hero-ice-cream-bck,
    null
  );
  @media screen and (min-width: $min-tablet-size) {
    @include fontRegular(null, 14px, 500, 26px, $hero-ice-cream-bck, left);
  }
  @media screen and (min-width: $min-desktop-size) {
    @include fontRegular(null, 16px, 500, 30px, $hero-ice-cream-bck, left);
  }
}

.contact-adress {
  padding: 24px 0 0;
  @media screen and (min-width: $min-tablet-size) {
    padding: 32px 0 0;
  }
}

.contact-adress__list:first-child {
  margin-bottom: 8px;
}

.contact-adress__link {
  @include fontRegular(
    $familyDmSans,
    12px,
    500,
    18px,
    $description-text-color,
    null
  );
  &--padding-top {
    padding-top: 20px;
  }

  &--padding-bottom {
    padding-bottom: 20px;
  }
  @media screen and (min-width: $min-tablet-size) {
    @include fontRegular(null, 14px, 500, 26px, $description-text-color, left);
  }
  @media screen and (min-width: $min-desktop-size) {
    @include fontRegular(null, 16px, 500, 29px, $description-text-color, left);
  }
}

.contacts-button-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: $min-tablet-size) {
    flex-direction: row;
    justify-content: center;
  }
}

.contacts-button__item {
  &:first-child {
    margin-bottom: 10px;
    @media screen and (min-width: $min-tablet-size) {
      margin-bottom: 0;
      margin-right: 15px;
    }
  }
  @media screen and (min-width: $min-tablet-size) {
    margin-bottom: 0;
  }
}

.contacts-button {
  width: 161px;
  height: 44px;
  border-radius: 22px;
  @include centeredFlex();
  @include fontRegular($familyDmSans, 16px, 700, 21px, null, null);
  &--red {
    background-color: $hover-bck;
    color: $primary-text-color;
    @include btnAnimation($customer_reviews_pagination, 22px);
  }

  &--white {
    background-color: $primary-text-color;
    color: $accent-color;
    @include btnAnimation($accent-color, 22px);
  }

  &--red:hover,
  &--red:focus {
    background: $btn-hover-bck;
    color: $accent-color;
  }

  &--white:hover,
  &--white:focus {
    background: $heroBtnHover;
    color: $primary-text-color;
  }

  &__icon--red {
    margin-left: 8px;
    fill: currentColor;
  }

  &__icon--white {
    margin-left: 8px;
    fill: currentColor;
  }
}
