.customer-reviews {
  margin: auto;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 89vw;
}

/* Слайдер */
.slick-slider {
  min-width: 0;
  margin: auto;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
  margin: auto;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  overflow: hidden;
  list-style: none;
  margin: 0px 10px;
}
.slick-dots button {
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: $customer_reviews_pagination;
  border: 1px solid $customer_reviews_pagination;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-image: url('../images/home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.slider__item {
  text-align: center;

}

.customer-reviews__description {
  position: relative;
  width: 82vw;
  padding: 43px 65px 25px 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $customer_reviews_background;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  // &::before {
  //   position: absolute;
  //   content: '';
  //   top: 10vw;
  //   left: 4vw;
  //   display: inline-block;
  //   width: 54px;
  //   height: 40px;
  //   background-image: url("../images/quotes.svg");
  //   background-position: center;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  // }
  @media screen and (min-width: $min-tablet-size) {
  }
}

.customer-reviews__article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
