.customer-reviews {
  min-width: 320px;
  margin: auto;
}
.wrapper {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Основные стили */

/* Слайдер */
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}

/* Слайд */
.slick-slide {
}
/* Слайд активный */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}

/* Точки */
.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}

/* Конкретный слайдер */
.slider {
  padding: 0px 10px;
}

.slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li {
  overflow: hidden;
  list-style: none;
  margin: 0px 10px;
}
.slick-dots button {
  width: 12px;
  height: 12px;
  font-size: 0;
  background-color: $customer_reviews_pagination;
  border: 1px solid $customer_reviews_pagination;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-image: url('../images/home.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
  border: none;
}

.slider__item {
  text-align: center;
}

.customer-reviews__description {
  max-width: 280px;
  padding: 43px 61px 25px;
  text-align: center;
  margin: auto;
  background-color: $customer_reviews_background;
}

.customer-reviews__article{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}