.hero {
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  background-color: $hero-bck;
}

.wrapp-hero {
  height: 502px;
  position: relative;

  // mobile
  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    max-width: 100%;
  }

  // tablet
  @media screen and (min-width: 767.98px) {
    height: 415px;
  }
}

.hero-text {
  width: 218px;
  padding-top: 194px;
  padding-bottom: 158px;
  position: relative;
  z-index: 3;

  &__title {
    width: 218px;
    margin-bottom: 20px;
    text-transform: uppercase;
    @include fontTitanOne(
      $familyTitanOne,
      26px,
      400,
      30px,
      0.04em,
      $primary-text-color
    );
    // tablet
    @media screen and (min-width: 767.98px) {
      width: 162px;
      font-size: 22px;
    }
  }

  &--accent {
    @include fontTitanOne(null, 48px, 400, 46px, null, $accent-color, null);
    // tablet
    @media screen and (min-width: 767.98px) {
      @include fontTitanOne(null, 34px, null, 31px, null, null, null);
    }
  }
  // tablet
  @media screen and (min-width: 767.98px) {
    padding-top: 101px;
    padding-bottom: 0px;
    font-size: 22px;
  }
}

.crema-pic {
  position: absolute;
  bottom: 0;
  right: 35%;
  z-index: 2;
  transform: translateX(50%);

  // tablet
  @media screen and (min-width: 767.98px) {
    right: 50%;
  }

  &::after {
    content: '';
    display: block;
    width: 346px;
    height: 344px;
    background-color: $hero-ice-cream-bck;
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    // tablet
    @media screen and (min-width: 767.98px) {
      width: 335px;
      height: 333px;
      top: 38%;
      left: 70%;
    }
  }
}

.hero-milk-list {
  display: none;

  // tablet
  @media screen and (min-width: 767.98px) {
    @include centeredFlex(flex);
    position: absolute;
    bottom: 16px;
    z-index: 3;
  }
}

.hero-milk-info {
  display: block;

  &__text {
    width: 114px;
    margin-bottom: 7px;
    @include fontRegular($familyDmSans, 8px, 400, 12px, $primary-text-color);
    text-transform: none;
  }
}

.amount-list {
  display: none;
  position: absolute;
  right: 32px;
  top: 91px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__number {
    @include fontTitanOne(
      $familyTitanOne,
      28px,
      null,
      32px,
      0.04em,
      $accent-color,
      right
    );
  }

  &__subtitle {
    @include fontRegular(null, 8px, 400, 10px, $primary-text-color, right);
  }

  @media screen and (min-width: 767.98px) {
    display: block;
  }
}

.cta-img {
  display: none;
  position: absolute;
  right: 32px;
  bottom: 0;
  z-index: 3;
  text-transform: uppercase;

  &__item {
    width: 90px;
    position: absolute;
    top: 25px;
    left: 3px;
  }

  &__subtitle {
    @include fontTitanOne(
      $familyTitanOne,
      14px,
      null,
      14px,
      0.01em,
      $accent-color,
      right
    );
  }

  @media screen and (min-width: 767.98px) {
    display: block;
  }
}
