.hero {
  margin: 0 auto;
  overflow: hidden;
  background-color: $hero-bck;
}

.wrapp-hero {
  height: 502px;
  position: relative;

  // mobile
  @media screen and (min-width: 320px) and (max-width: 767.98px) {
    max-width: 100%;
  }

  // tablet
  @media screen and (min-width: 767.98px) {
    height: 415px;
  }

  // desktop
  @media screen and (min-width: 1279.98px) {
    height: 664px;
  }
}

.hero-text {
  padding-top: 194px;
  position: relative;
  z-index: 3;

  &__title {
    width: 218px;
    margin-bottom: 20px;
    text-transform: uppercase;
    // animation: bounceIn;
    // animation-duration: 2s;
    // animation-iteration-count: infinite;
    @include fontTitanOne(
      $familyTitanOne,
      26px,
      400,
      30px,
      0.04em,
      $primary-text-color
    );

    // tablet
    @media screen and (min-width: 767.98px) {
      width: 162px;
      font-size: 22px;
    }

    // desktop
    @media screen and (min-width: 1279.98px) {
      width: 277px;
      margin-bottom: 24px;
      @include fontTitanOne(
        $familyTitanOne,
        38px,
        null,
        44px,
        0.04em,
        $primary-text-color
      );
    }
  }

  &--accent {
    @include fontTitanOne(null, 48px, 400, 46px, null, $accent-color, null);

    // tablet
    @media screen and (min-width: 767.98px) {
      @include fontTitanOne(null, 34px, null, 31px, null, null, null);
    }
    // tablet
    @media screen and (min-width: 1279.98px) {
      @include fontTitanOne(null, 58px, null, 52px, 0.04em, null, null);
    }
  }

  // tablet
  @media screen and (min-width: 767.98px) {
    width: 162px;
    padding-top: 101px;
  }

  // desktop
  @media screen and (min-width: 1279.98px) {
    width: 277px;
    padding-top: 147px;
  }
}

.hero-btn {
  display: flex;
  &__item {
    &:not(:last-child) {
      margin-right: 8px;

      // desktop
      @media screen and (min-width: 1279.98px) {
        margin-right: 12px;
      }
    }
  }
}

.crema-pic {
  position: absolute;
  bottom: 0;
  right: 20%;
  z-index: 2;
  transform: translateX(50%);

  // tablet
  @media screen and (min-width: 767.98px) {
    right: 40%;
  }

  // tablet
  @media screen and (min-width: 1279.98px) {
    right: 43%;
  }
  &::before {
    content: '';
    display: block;
    width: 346px;
    height: 344px;
    background-color: $hero-ice-cream-bck;
    position: absolute;
    top: 0;
    right: -90px;
    z-index: -1;
    border-radius: 50%;
    animation: zoomInDown;
    animation-duration: 2s;
    animation-iteration-count: infinite;

    // tablet
    @media screen and (min-width: 767.98px) {
      width: 335px;
      height: 333px;
      top: -35px;
      left: -65px;
    }

    // desktop
    @media screen and (min-width: 1279.98px) {
      width: 534px;
      height: 534px;
      top: -55px;
      left: -100px;
    }
  }
}

.hero-milk-list {
  display: none;

  // tablet
  @media screen and (min-width: 767.98px) {
    @include centeredFlex(flex);
    position: absolute;
    bottom: 16px;
    z-index: 3;
  }

  // desktop
  @media screen and (min-width: 1279.98px) {
    bottom: 60px;
  }
}

.hero-milk-info {
  display: block;

  &__text {
    width: 114px;
    margin-bottom: 7px;
    @include fontRegular($familyDmSans, 8px, 400, 12px, $primary-text-color);
    text-transform: none;

    // desktop
    @media screen and (min-width: 1279.98px) {
      width: 200px;
      margin-bottom: 20px;
      @include fontRegular(null, 14px, null, 20px, null);
    }
  }
}

.amount-list {
  display: none;
  position: absolute;
  right: 32px;
  top: 91px;

  &__item {
    position: relative;
    z-index: 1;
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border-radius: 50%;

      // desktop
      @media screen and (min-width: 1279.98px) {
        width: 30px;
        height: 30px;
      }
    }
  }

  &__number {
    @include fontTitanOne(
      $familyTitanOne,
      28px,
      null,
      32px,
      0.04em,
      $accent-color,
      left
    );

    // desktop
    @media screen and (min-width: 1279.98px) {
      @include fontTitanOne(null, 46px, null, 53px, null, null, null);
    }
  }

  &__subtitle {
    @include fontRegular(null, 8px, 400, 10px, $primary-text-color, right);

    @media screen and (min-width: 1279.98px) {
      @include fontRegular(null, 14px, null, 18px, null, null);
    }
  }

  // tablet
  @media screen and (min-width: 767.98px) {
    display: block;
  }

  // desktop
  @media screen and (min-width: 1279.98px) {
    right: 16px;
    top: 153px;
  }
}

.cta-img {
  display: none;
  position: absolute;
  right: 32px;
  bottom: 0;
  z-index: 3;
  text-transform: uppercase;

  &__item {
    width: 75px;
    position: absolute;
    top: 25px;
    left: 10px;

    // desktop
    @media screen and (min-width: 1279.98px) {
      width: 132px;
      top: 40px;
    }
  }

  &__subtitle {
    @include fontTitanOne(
      $familyTitanOne,
      14px,
      null,
      14px,
      0.01em,
      $accent-color,
      right
    );

    // desktop
    @media screen and (min-width: 1279.98px) {
      @include fontTitanOne(
        null,
        23px,
        null,
        23px,
        0.01em,
        $accent-color,
        right
      );
    }
  }

  // tablet
  @media screen and (min-width: 767.98px) {
    display: block;
  }

  // desktop
  @media screen and (min-width: 1279.98px) {
    right: 16px;
  }
}

@keyframes Beat {
  0% {
    transform: scale(1);
  }

  14% {
    transform: scale(1.1);
  }

  28% {
    transform: scale(1);
  }

  42% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1);
  }
}
