.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  @include transition(opacity, 1000ms);
  z-index: 41;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 40px;
  max-width: 90vw;
  min-height: 581px;
  max-height: 700px;
  transform: translate(-50%, -50%) scale(1);
  @include transition(transform, 1000ms);

  background-image: linear-gradient(to left, #aad491, $hero-bck);
  border-radius: 22px;
  @media screen and (max-width: $max-tablet-size) {
    padding: 10px;
  }
  @media screen and (min-width: $min-tablet-size) {
    max-width: 650px;
  }
  @media screen and (min-width: $min-desktop-size) {
    max-width: 850px;
    min-height: 609px;
  }
}

.our-location {
  width: 100%;
  height: 85%;
  margin-bottom: 8px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.our-location__ice-cream {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 20%);
  width: 100px;
  @media screen and (max-width: $max-tablet-size) {
    transform: translate(-20%, 20%);
  }
}
.our-location__milkshake {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 20%);
  width: 100px;
  @media screen and (max-width: $max-tablet-size) {
    transform: translate(20%, 20%);
  }
}

.our-location__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(50%, -50%);
  background-color: transparent;
  color: $primary-text-color;
  @include transition(background-color, 350ms);
  &:hover,
  &:focus {
    background-color: rgba(170, 212, 145, 1);
    color: $description-text-color;
  }
}

.our-location__icon-close {
  stroke: currentColor;
}

.our-location__text {
  width: 60%;
  margin: auto;
  @include fontRegular(null, 16px, 700, 22px, $accent-color, center);
  @media screen and (min-width: $min-tablet-size) {
    @include fontRegular(null, 32px, 700, 40px, $accent-color, center);
  }
  @media screen and (min-width: $min-desktop-size) {
    @include fontRegular(null, 32px, 700, 40px, $accent-color, center);
  }
}
